body {
    margin: 0;
    padding: 0;
}

#starBackground {
    z-index: -1;
    pointer-events: none;
}

#canvasCss {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.sections {
    background-color: rgba($color: white, $alpha: 0.95);
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 40px 40px;
    opacity: 1;

    font-size: 1.2em;

    margin-top: 0;
    p {
        text-align: justify !important;
    }

    .sectionsBtn {
        
        position: relative;
        padding: 0.1em 0.3em;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        display: inline-block;

        text-shadow: 0 0 10px #666; 
        transition: text-shadow 0.5s;

        &:hover {
            text-shadow: none;
        }
        
        &::after, &::before {
          content: '';
          display: block;
          position: absolute;
          width: 20%;
          height: 20%;
          border: 2px solid;
          transition: all 0.4s ease;
          border-radius: 2px;
        }
    
        &::after {
          bottom: 0;
          right: 0;
          border-top-color: transparent;
          border-left-color: transparent;
          border-bottom-color: #435a6b;
          border-right-color: #435a6b;
        }
    
        &::before {
          top: 0;
          left: 0;
          border-bottom-color: transparent;
          border-right-color: transparent;
          border-top-color: #435a6b;
          border-left-color: #435a6b;
        }
    
        &:hover:after, &:hover:before {
          border-bottom-color: #435a6b;
          border-right-color: #435a6b;
          border-top-color: #435a6b;
          border-left-color: #435a6b;
          width: 100%;
          height: 100%;
        }
    }

    img {
        display: block;
        margin: 0 auto;
    }
    h1 {
        text-decoration: underline;
    }

    .centered {
        text-align: center !important;
    }
}

#Bibliographie {
    a {
        text-decoration: none;
        color: #000000;
        &:visited {color: #222222;}
        &:hover {text-decoration: underline;}
    }

    .it {
        font-style: italic;
    }
    ul {
        list-style: circle;
    }
}

.back-arrow {
    z-index: 1;
}

.sectionBackArrow {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
