
#wrapper {
    background-color: rgba(255, 255, 255, 1);
    width: 55%;
    transition: width 1s;
}

img {
    width: 100%;
}

p {
    text-align: justify;
    margin : 30px 0px 30px 0px;
    font-size: 15px;
}

.note {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bib {
    margin-top: 12px;
    margin-bottom: 12px;
}

.imgCentered {
    width : 60%; 
    transition: width 1s;
}


.imgRight {
    float:right; 
    width: 25%; 
    margin-bottom :10px ;
    margin-left: 20px !important;
    
}


.imgLeft {
    float: left; 
    width: 45%; 
    margin-bottom :10px ;
    margin-right: 20px !important;
}


@media  (max-width: 1300px) {
    #wrapper {
        width: 65%;
    }
  }


  @media  (max-width: 1000px) {
    #wrapper {
        width: 82%;
    }

    .imgCentered {
        width : 100%; 
    }


  }


@media (max-width: 640px) {
    #wrapper {
        width: 90%;
    }

    .imgRight {
        float:none; 
        width: 100%; 
        margin-left: 0px !important;
    }

    .imgLeft {
        float: none; 
        width: 100%; 
        margin-right: 00px !important;
    }
  }
