.article-name{
	color : #27DA79;
}

#header{

	background: 
    linear-gradient(
      rgba(12, 8, 64, 0.7), 
      rgba(12, 8, 64, 0.7)
    ),
    url(../background.png);

    background-size: cover;
}

a{
	color : rgb(12, 8, 64) !important;
	text-decoration: none;
}

.article-name, .article-authors{
	color : white;
	font-style : normal;
}

.legende{
	font-style : italic;
	margin : 0;
}

h1{
	font-size : 2em !important;
	text-align : center;
	margin : 0;
}

h2{
	margin : 50px 0 15px 0;
}


table, th, td{
	border : 1px solid black;
}

th, td{
	width : 20%;
	text-align : center;
	padding : 8px;
}

table{
	margin : auto;
}


sup{
	vertical-align: baseline;
	position : relative;
	top : -0.4em;
}

#finalquote{
	margin-top : 0;
	text-align : center;
	font-size : 1.2em;
	font-style : italic;
}
