@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

#wrapper {
	border:none;
	background-color: #f1c0bb;
    color: black;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    cursor: help;
}

#header {
    width: 94%;
    text-align: center;
    align-items: center;
    margin: 14px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

#header > div {
	text-align: left;
	font-style: normal;
}

#header .article-name {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 3em;
    width: 100%;
    /* text-align: center; */
    /* margin-bottom: 0; */
}

#header .article-authors {
	font-family: 'EB Garamond',serif;
    font-weight: 400;
    font-size: 2em;
}

.intro{
    font-weight: 700;
    text-align: justify;
}

.bandeau {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.bandeau p {
	letter-spacing: 0.3vw;
    font-family: 'EB Garamond',sans-serif;
    text-align: center;
    font-size: 0.9em;
    margin: 6px 0px;
}

.citation {
	font-family: Roboto, sans-serif;
    font-weight: 800;
    font-size: 3em;
    text-transform: uppercase;
    margin: 20px 0;
    text-align: left;
}

#partie1 .paragraph p,#partie3 .paragraph p {
	column-count: 3;
}

#partie2, #partie_analyse {
	display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#partie2 div, #partie_analyse div {
width: 48%;
}

.mon-article img {
	width: initial;
}

#partie_analyse iframe{
width: 100%;
}

.citation2{
	font-family: Roboto;
    font-weight: 800;
    font-size: 3.3em;
    margin: 0;
    text-align: left;
}

.citation2.small {
	font-size: 2.25em;
}

.citation2.large {
	font-size: 4em;
}

#footer {
	border-top: 1px solid;
    padding-top: 20px;
    margin: 60px 0;
    font-size: 0.7em;
}

#footer .bio {
    display: flex;
    justify-content: space-between;
}

#footer .bio p {
    width: 30%;
}

#footer h3 {
        margin: 0;
    font-size: 2em;
}


@media screen and (min-width: 750px) and (max-width: 1000px){
    .remove {
        display: none;
    }

    #header .article-name {
        text-align: center; 
    }

    .bandeau {
        flex-direction: column;
    }

    .bandeau p {
        margin: 3px;
    }

    #partie1 .paragraph p, #partie3 .paragraph p {
        column-count: 2;
    }

    #partie_analyse {
        flex-direction: column;
    }

    #partie_analyse div{
        width: 100%;
    }

}


img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

