html {
    color: white;
}

#canvas-bg{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
}

body {
    display: flex;
    justify-content: center;
}

#wrapper {
    width: 80%;
    background-color: rgba($color: black, $alpha: 0.8);
    border: white solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.mon-article {
    margin: 40px;
    margin-top: 0;
}

.back-arrow {
    position: fixed;
    left: 40px;
    top: 40px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.article-name {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

.article-authors {
    font-weight: lighter;
    font-size: 22px;
}