@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$technical_color: #6E33CE;
$cultural_color: #FFB800;
$memorisation_color: #27DA79;

html {
    color: black;
}

#wrapper {
    background-color: rgba($color: white, $alpha: 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mon-article {
    hyphens: auto;
    word-break: break-word;
    font-family: 'Noto Sans';
    font-size: 0.9em;
    h1, h2 {
        font-family: 'Source Sans Pro';
        font-weight: 900;
        font-size: 1.5em;
        text-transform: uppercase;
    }
    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        font-weight: bold;
    }
    &.cultural {
        a {
            color: $cultural_color;
        }
    }
    &.technical {
        a {
            color: $technical_color;
        }
    }
    &.memorisation {
        a {
            color: $memorisation_color;
        }
    }
}

#header {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
    color: white;
    &.cultural {
        background-color: $cultural_color;
    }
    &.technical {
        background-color: $technical_color;
    }
    &.memorisation {
        background-color: $memorisation_color;
    }
}

.article-name {
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.2em;
}

.article-authors {
    font-family: Noto Sans;
}

.article-date {
    font-family: Noto Sans;
}
