html {
    background: #252525;
    color: white;
}

body {
    border: white solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.article-name {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

.article-authors {
    font-weight: lighter;
    font-size: 22px;
}