html {
    color: black;
}

#canvas-bg{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
}

body {
    display: flex;
    justify-content: center;
}

#wrapper {
    width: 65%;
    background-color: rgba($color: white, $alpha: 0.95);
    border: white solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mon-article {
    margin: 40px;
    margin-top: 0;
    text-align: justify !important;
    p {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 0.9em;
        text-align: justify;
    }
    h1, h2 {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 900;
        font-size: 1.5em;
        text-align: left;
        text-transform: uppercase;
    }
    img {
        /*width: 650px;*/
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        color: #FFB800;
        font-weight: bold;
    }
}

.indent {
    margin: 15px;
}

.back-arrow {
    position: fixed;
    left: 40px;
    top: 40px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: black;
    ;
}

.article-name {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.2em;
    margin-bottom: 15px;
}

.article-authors {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
}