body {
    background: none;
    overflow: hidden; 
}
#defaultCanvas0 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}

#canvas-bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -20;
}

#app {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.article-thumbnail {
    margin: 0;
    position: absolute;
    &:hover {    
        cursor: pointer;
    }
    position: absolute;
    border-radius: 50%; // Make it a circle
    // Prevent dragging
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    //
}

.article-infos {
    color: white;
    background-color: black;
    margin: 20px 30px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    //
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.25s;
    &.visible {
        opacity: 1;
        transition: opacity 0.25s;
    }
}

.article-name {
    font-style: italic;
    font-weight: bold;
}

.article-authors {
    font-weight: lighter;
}