body {
    background: none;
    overflow: hidden; 
}
#defaultCanvas0 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}

#canvas-bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -20;
} 
#app {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


//
.article-node {
    margin: 0;
    position: absolute;
    &:hover {    
        cursor: pointer;
    }
}

.article-thumbnail {
    position: absolute;
    border-radius: 50%; // Make it a circle
    // Prevent dragging
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    //
}