body {
    background: #252525;
    overflow: hidden; 
}
#defaultCanvas0 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
}
#app {
    position: fixed;
    left: 0;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//
.article-node {
    margin: 0;
    position: absolute;
    &:hover {    
        cursor: pointer;
    }
}

.article-thumbnail {
    position: absolute;
    border-radius: 50%; // Make it a circle
    z-index: 5;
    transition: z-index 0s linear 0.2s;
    &:hover {
        z-index: 20;
        transition: z-index 0s;
    }
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.article-node:hover .article-thumbnail {
    z-index: 20;
}

.article-infos:hover + .article-thumbnail {
    z-index: 5;
}

.article-infos {
    background-color: white;
    width: 200px;
    border-radius: 2px;
    // height is controlled in ArticleNode.ts
    z-index: 10;
    margin: 0;
    position: absolute;
    visibility: hidden;
    transform: scale(0, 1);
    transform-origin: 0% 50%;
    transition: visibility 0s linear 0.3s, transform 0.2s;
}
// Show infos on node hover
.article-thumbnail:hover + .article-infos,
.article-infos:hover {
    visibility: visible;
    transform: scale(1, 1);
    border-radius: 2px;
    transition: visibility 0s, transform 0.2s;
}
//